{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<!-- BANNER -->
    <section class="intro">
        <!-- LOGO -->
        <header>
            <a href="{{ path('home') }}">
                <img src="/source/logo.png" alt="Nation Sounds" class="logo">
            </a>
            <div class="toggle_nav"></div>
        </header>

        <!-- VIDEO -->
        <video muted loop autoplay>
            <source src="/source/BG.mp4" type="video/mp4">
        </video>

        <!-- OVERLAY -->
        <div class="overlay"></div>

        <!-- TEXT -->
        <div class="text_container">
            <h1>Live Events</h1>
            <p><em>Présente</em></p>
            <span class="hr"></span>
            <h2>Nation Sounds</h2>
            <p>
                Le festival de musique humanitaire qui regroupe des artistes de tous genres. Pour voir le programme suivre le lien ci-dessous.
            </p>
            <a href="{{ path('programmation')}}">Voir Plus</a>
        </div>

        <!-- COUNTDOWN -->
        <div class="countdown_container">
            <div class="countdown_element days_countdown">
                <p class="big_text" id="days">0</p>
                <span>jours</span>
            </div>
            <div class="countdown_element hours_countdown">
                <p class="big_text" id="hours">0</p>
                <span>heures</span>
            </div>
            <div class="countdown_element minutes_countdown">
                <p class="big_text" id="minutes">0</p>
                <span>minutes</span>
            </div>
            <div class="countdown_element secondes_countdown">
                <p class="big_text" id="secondes">0</p>
                <span>secondes</span>
            </div>
        </div>

        <!-- SOCIAL MEDIA -->
        <ul class="social">
            <li><a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://snapchat.com/" target="_blank"><i class="fa fa-snapchat"></i></a></li>
            <li><a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>

        <!-- SCROLL BTN -->
        <a href="#push" class="scroll_btn"><i class="fa fa-arrow-down"></i></a>
    </section>

    <!-- ======================================================================================================================================== -->

    <!-- NAV MENU -->
    <div class="menu">
        <div class="login_container">

        </div>

        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('programmation')}}">Programmation</a></li>
            <li><a href="{{ path('map') }}">Carte Interactive</a></li>
            <li><a href="{{ path('partenaire.index') }}">Partenaires</a></li>
            <li><a href="{{ path('product.index')}}">Boutique</a></li>
            <li><a href="#">Contactez-nous</a></li>
        </ul>
    </div>

        <!-- ======================================================================================================================================== -->

        <section class="infos">

            <!-- PUSH -->
            <div class="border_gradient">
                <p id="push"></p>
            </div>

            <div class="infos_container">
                <h1 id="prog">Programmation</h1>

                <div class="artiste_name">
                    <span style="color: #A065A2;">ACID ARAB</span>
                    <span>- BLACK EYES PEAS -</span>
                    <span style="color: #A065A2;">DELUX</span>
                    <span>- DISCLOSURE -</span>
                    <span style="color: #A065A2;">GORILLAZ</span>
                    <span>- IZIA -</span>
                    <span style="color: #A065A2;">JAMIE</span>
                    <span>- MARTIN GARRIX -</span>
                    <span style="color: #A065A2;">PNL</span>
                    <span>- POMME -</span>
                    <span style="color: #A065A2;">SEAN PAUL</span>
                    <span>- THERAPIE TAXI -</span>
                    <span style="color: #A065A2;">TRYO</span>
                    <span>...</span>
                </div>
            </div>

            <!-- CAROUSEL -->
            <div id="carouselControl" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/source/7.png" alt="First Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="/source/1.png" alt="Seconde Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="/source/2.png" alt="Three Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="/source/3.png" alt="Four Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="/source/4.png" alt="Five Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="/source/5.png" alt="Six Slide">
                    </div>
                    <div class="carousel-item">
                        <img src="/source/6.png" alt="Seven Slide">
                    </div>
                </div>
                <a href="#carouselControl" class="carousel-control-prev" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a href="#carouselControl" class="carousel-control-next" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>

        </section>

    <!-- ======================================================================================================================================== -->

    <section class="nation">

        <div class="border_gradient">
            <p id="secondPush"></p>
        </div>

        <div class="container_text">
            <h1>Nation Sounds</h1>
            <p>
                Pour la 4ème fois, la société d’évènementiel « Live Events » organise un évènement humanitaire mêlant solidarité, festivités et divertissement, appelé « Nation Sounds »se situant en région parisienne.
            </p>
            <p>
                Ce festival a pour but d’aider une association humanitaire, afin de financer leur projet.
            </p>
            <p>
                Lors de ce festival, des goodies sont à la vente comme un collier, une affiche, un mug, une casquette, un sweat,t-shirt, bracelet, un sac…
                10% du chiffre total de la vente de ces goodies sont reversés à l’association.
                Ce festival est reconnu pour sa diversification musicale, et son organisation hors pair.
                Tous les ans, le festival affiche complet, c’est LE rendez-vous à ne pas rater durant son mois de juillet.
            </p>
        </div>

    </section>

        <!-- ======================================================================================================================================== -->

    <section class="link_ecom">
        <div class="overlay"></div>
        <button class="billet" role="button"><a href="#">Billetterie</a></button>
    </section>

        <!-- ======================================================================================================================================== -->

    <section class="footer_container">
        <div class="footer_block">

            <!-- MENU -->
            <div class="nav">
                <h3>Accès rapide</h3>
                <ul>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('programmation')}}">Programmation</a></li>
                    <li><a href="{{ path('map') }}">Carte Interactive</a></li>
                    <li><a href="{{ path('partenaire.index') }}">Partenaires</a></li>
                    <li><a href="{{ path('product.index')}}">Boutique</a></li>
                    <li><a href="#">Contactez-nous</a></li>
                    <li><a href="{{ path('faq')}}">FAQ</a></li>
                </ul>
            </div>

            <!-- ADRESS -->
            <div class="address">
                <h3>Lieu</h3>
                <p>Plaine de Courno</p>
                <p>75 500 Paris</p>
            </div>
    
            <!-- SOCIAL -->
            <div class="social_link">
                <h3>Suivez-nous</h3>
                <ul>
                    <li>
                        <a href="https://twitter.com/" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/" target="_blank">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/" target="_blank">
                            <i class="fa fa-snapchat"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/" target="_blank">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                </ul>

                </div>

            <a href="#" class="arrow">
                <i class="fa fa-arrow-up"></i>
            </a>
        </div>

    </section>

    <!-- Rajouter les cookies ================================================================================== -->

    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/app.js"></script>
{% endblock %}