{{ form_start(form)}}
<div class="row">
    <div class="col-md-4">{{ form_row(form.name)}}</div>
    <div class="col-md-4">{{ form_row(form.ref)}}</div>
    <div class="col-md-4">{{ form_row(form.price)}}</div>
</div>
<div class="row">
    <div class="col-md-2">{{ form_row(form.size)}}</div>
</div>
{{ form_widget(form)}}

<button class="btn btn-primary">{{ button | default('Enregistrer') }}</button>

{{ form_end(form)}}