{{ form_start(form)}}
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.username)}}
    </div>
    <div class="col-md-4">
        {{ form_row(form.password)}}
    </div>
</div>
{{ form_widget(form)}}

<button class="btn btn-primary">{{ button | default('Enregistrer')}}</button>
{{ form_end(form)}}