{{ form_start(form)}}
<div class="row">
    <div class="col-md-4">{{ form_row(form.artist)}}</div>
    <div class="col-md-4">{{ form_row(form.hours)}}</div>
    <div class="col-md-4">{{ form_row(form.scene)}}</div>
</div>
<div class="row">
    <div class="col-md-4">{{ form_row(form.relProgram)}}</div> <!-- A voir -->
</div>
{{ form_widget(form)}}

<button class="btn btn-primary">{{ button | default('Enregistrer') }}</button>

{{ form_end(form)}}